{% extends base_html %}

{% load static %}
{% load humanize %}

{% load content_markdown %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'questions/styles/tagged-styles.css' %}">
{% endblock stylesheet %}

{% block title %}
{{title}} - Stack Overflow
{% endblock title %}

{% block content-container %}
<div class="title-container">
    <h1>{{ page_title }}</h1>
    <a href="{% url 'questions:ask' %}" class="ask-btn">Ask a question</a>
</div>
<div class="questions-container">
    <div class="questions-container-header">
        {% if page_title == 'All Questions' %}
        <h3>{{questions.count}} questions</h3>
        {% endif %}
    </div>
    {% for question in questions %}
    <div class="question-info">
        <div class="question-details">
            <p class="question-votes">{{question.get_votes}} votes</p>
            {% if question.answer_set.count > 0 and question.accepted_answer %}
            <p class="question-answers-count-accepted">✓ {{question.answer_set.count}} answers</p>
            {% elif question.answer_set.count > 0 %}
            <p class="question-answers-count">{{question.answer_set.count}} answers</p>
            {% else %}
            <p class="question-answers-zero">0 answers</p>
            {% endif %}
            <p class="question-views">{{ question.visit_set.count }} views</p>
            {% if question.bounty_amount > 0 %}
            <p class = "question-bounty">+{{question.bounty_amount}}</p>
            {% endif %}
        </div>
        <div class="question">
            <a href="{% url 'questions:question_view' question.id %}" class="question-title">{{ question.title }}</a>
            {% if page_title == 'All Questions' %}
            <p>{{ question.content|convert_markdown|striptags }}</p>
            {% endif %}
            <div>
                <div class="question-tags">
                    {% for tag in question.tags.all %}
                    <a href="{% url 'questions:tagged_questions' tag.name %}" class="tags">{{tag.name}}</a>
                    {% endfor %}
                </div>
                <div class="question-author-details">
                    <img src="{{question.user.profile_pic.url}}" class="author-profile-pic" height="16" width="16">
                    <a href="{% url 'user:profile' question.user_id %}" class="question-author">{{question.user.name}}</a>
                    <label class="author-reputation">{{ question.user.reputation }}</label>
                    <p class="asked-time">asked {{ question.posted_date|naturaltime }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if page_title == 'Top Questions' %}
    <h4>Looking for more? Browse the <a href="{% url 'questions:index' %}">complete list of questions</a>, or <a href="{% url 'questions:index' %}">popular tags</a>. Help us answer unanswered questions.</h4>
    {% endif %}
</div>
{% endblock content-container %}