:root {
    --light-grey: #cdcdcd;
    --light-grey-for-text: #a3a3a3;
    --hover-light-grey: #ededed;
    --border-orange: rgb(255, 136, 0);
    --border-orange-dark: rgb(226, 122, 3);
    --rewards-text-font-family: sans-serif;
    --rewards-text-font-size: 0.8rem;
    --gold-color: #e8b923;
    --silver-color: #71706e;
    --bronze-color: #CD7F32;
    --dark-grey: rgb(93, 93, 93);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-grey);
    border-top-width: 3px;
    border-top-color: var(--border-orange);
}

body {
    margin: 0;
}

#header-container {
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

#header-container>:nth-child(2) {
    width: 100%;
    position: relative;
}

.logo {
    display: block;
    width: 10rem;
    height: 3rem;
    background-image: url(https://cdn.sstatic.net/Img/unified/sprites.svg?v=fcc0ea44ba27);
    background-size: cover;
}

.products-btn,
.products-btn-active {
    padding: 0.25rem 0.75rem;
    border: none;
    border-radius: 1rem;
    color: var(--light-grey-for-text);
    background-color: white;
    font-size: 0.8rem;
    margin: 0 0.25rem;
}

.products-btn:hover {
    background-color: var(--hover-light-grey);
}

.products-btn-active {
    color: white;
    background-color: var(--border-orange);
}

.products-btn-active:hover {
    background-color: var(--border-orange-dark);
}

#content-search-form {
    margin: 0 0.25rem;
    height: 2rem;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 7.5px;
    border-color: var(--light-grey);
    display: flex;
    align-items: center;
}

#search-icon {
    fill: var(--dark-grey);
    padding:0 0.5rem;
}

#searchbar {
    height: 90%;
    width: 100%;
    border-style: none;
    border-radius: 7.5px;
}

#searchbar:focus {
    border: 0;
    outline: none;
}

#header-navigation-bar {
    margin: 0 0.5rem;
    height: 2.625rem;
    display: flex;
    align-items: center;
}

#header-user-profile-container {
    width: max-content;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

#header-user-profile-container:hover {
    background-color: var(--hover-light-grey);
}

#header-user-profile-reputation{
    color: black;
}

#header-user-profile-picture {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.header-user-rewards-values {
    font-family: var(--rewards-text-font-family);
    font-size: var(--rewards-text-font-size);
    padding: 0 0.25rem;
    color: var(--dark-grey);
    font-weight: 600;
}

#header-user-rewards {
    display: flex;
    padding: 0;
    margin: 0 0.25rem;
    list-style-type: none;
}

#header-user-profile-bronze-badges {
    color: var(--bronze-color);
}

#header-user-profile-silver-badges {
    color: var(--silver-color);
}

#header-user-profile-gold-badges {
    color: var(--gold-color)
}

.nav-icon {
    fill: var(--dark-grey);
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
}

.nav-icon:hover {
    background-color: var(--hover-light-grey);
    fill: black;
}

#achievement-icon,
#help-icon,
#stack-exchange-icon,
#search-icon {
    height: 1.25rem;
}

.products-btn-container{
    position: relative;
}

#products-ul {
    display: none;
    position: absolute;
    background-color: var(--hover-light-grey);
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-grey);
    list-style-type: none;
    width: 15rem;
    padding: 0;
    padding-bottom: 0.5rem;
    margin: 0;
    top: 1.8rem;
    left: calc(50% - 7.5rem);
    box-shadow: 0.125rem 0.25rem 1rem var(--light-grey-for-text), -0.125rem 0.25rem 1rem var(--light-grey-for-text);
}

#products-ul li {
    background-color: white;
    padding: 0.5rem 0.75rem;
}

#products-ul li:hover {
    background-color: var(--hover-light-grey);
}

#products-ul label {
    color: var(--light-grey-for-text);
    font-family: var(--rewards-text-font-family);
    font-size: 0.875rem;
    line-height: 0.125rem;
}

#products-li-first {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#products-li-last {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--light-grey);
    margin-bottom: 0.5rem;
}

#products-ul h4 {
    margin: 0;
    font-family: var(--rewards-text-font-family);
    font-weight: 500;
    font-size: 0.95rem;
}

#products-ul>label {
    padding: 0.5rem;
}

#products-ul::after,
#products-ul::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    left: calc(50% - 0.5rem);
    top: calc(-1rem + 1px);
}

#products-ul:after {
    border-width: 0.5rem;
    border-color: transparent transparent white;
}

#products-ul:before {
    border-width: calc(0.5rem - 1px);
    left: calc(50% - 0.5rem + 1px);
    border-color: transparent transparent var(--light-grey-for-text);
}

.sidebar-options {
    display: flex;
    font-family: var(--rewards-text-font-family);
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--dark-grey);
    fill: var(--dark-grey);
}

.sidebar-options h4 {
    margin: 0;
    font-weight: 300;
    font-size: 0.875rem;
    padding-left: 0.5rem;
}

.body-container {
    max-width: 1200px;
    min-height: calc(100vh - 20rem);
    margin: 0 auto;
    margin-top: 3.25rem;
    display: flex;
}

.sidebar-icon {
    width: 1.25rem;
    margin-left: 1rem;
}

#left-sidebar {
    padding: 1.5rem 0;
    height: fit-content;
    width: 12rem;
    position: sticky;
    top: 3.25rem;
}

.sidebar-options:hover {
    background-color: var(--hover-light-grey);
    color: black;
    fill: black;
}

.content-container {
    width: calc(100% - 12rem);
    border-left-style: solid;
    border-width: 1px;
    border-color: var(--light-grey);
}

footer {
    background-color: black;
    color: var(--light-grey-for-text);
    font-family: var(--rewards-text-font-family);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#footer-logo {
    width: 2rem;
    height: 3rem;
    background-size: 550%;
}

.footer-menu h3 {
    font-size: 0.8rem;
}

.footer-menu ul{
    list-style-type: none;
    padding: 0;
    font-size: 0.75rem;
}

.footer-menu li {
    margin: 0.5rem 0;
}

#footer-copyrights ul{
    display: flex;
}

#footer-copyrights li {
    margin: 0 0.25rem;
}

#sidebar-menu {
    display: none;
}

#logout-container {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 0.25rem;
    border-color: var(--light-grey);
    border-style: solid;
    border-width: 1px;
    right: 0rem;
    top: 2.8rem;
    box-shadow: 0rem 0.25rem 0.5rem #71706e;
    font-family: sans-serif;
}

#logout-container h5 {
    margin: 0;
    padding: 0.5rem;
    border-bottom-color: rgb(157 212 223 / 72%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgb(100 156 194);
    background-color: rgb(163 179 204 / 39%);
}

#logout-container #community-container {
    padding: 0.5rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

#logout-container a {
    font-size: 0.8rem;
    color: rgb(38 102 146);
}

.community,
#community-label {
    display: flex;
    align-items:center;
    font-size: 0.85rem;
    font-weight: 600;
    color: #246095;
}

.community-logo {
    display: block;
    height: 1.5rem;
    width: 1rem;
    background-image: url(https://cdn.sstatic.net/Img/unified/sprites.svg?v=fcc0ea44ba27);
    background-size: 550%;
    margin-right: 0.5rem;
}

#header-container > div {
    display:flex;
    align-items:center;
}

@media (max-width: 1023px) {
    .footer-container {
        display: block;
        padding: 1.5rem;
    }

    .footer-menu h3 {
        margin-bottom: 0;
    }

    .footer-menu ul {
        display: flex;
        margin-top: 0;
    }

    .footer-menu li {
        margin-right: 1rem;
    }

    #footer-copyrights {
        margin-top: 3rem;
    }
}

@media (max-width: 767px) {
    .content-container {
        width: 100%;
    }
    
    #header-container {
        justify-content: space-between
    }

    #header-container>:nth-child(2) {
        max-width: calc(100% - 10rem);
        justify-content: flex-end;
    }

    #sidebar-menu {
        display: block;
    }

    .logo {
        width: 2rem;
        height: 3rem;
        background-size: 550%;
    }

    #left-sidebar {
        display: none;
        position: fixed;
        background-color: white;
        border-bottom-right-radius: 5px;
        box-shadow: 0.25rem 0.25rem 1rem var(--dark-grey);
    }

    #left-sidebar-icon{
        padding: 0;
    }

    .nav-icon-active {
        padding: 0;
    }

    .nav-icon-active #first-path {        
        d: path("M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z") !important;
    }

    .nav-icon-active #second-path {
        d: path("M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z");
    }

    .nav-icon {
        min-width: 1.5rem;
    }

    #header-navigation-bar {
        overflow-x: scroll;
    }

    #header-container #content-search-form {
        width: 1.5rem;
        border-style: none;
        padding: 0 0.5rem;
    }

    #search-icon {
        padding: 0;
    }

    #products-ul {
        width: 12rem;
        left: calc(50% - 6rem);
    }

    #searchbar {
        display: none;
        position: absolute;
        top: 3rem;
        left: 5%;
        width: 90%;
        height: 2rem;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0.25rem 0.25rem 1rem var(--dark-grey);
    }

    #searchbar:focus {
        outline: auto;
        outline-color: skyblue;
    }

    #header-user-rewards {
        display: none;
    }

    .footer-menu ul{
        flex-wrap: wrap;
    }
}