.content-container {
    min-height: 75vh;
    font-family: sans-serif;
    padding: 2rem;
}

.input-fields {
    display: flex;
    flex-direction: column;
}

#password-change-form {
    width: 20rem;
    margin-top: 1rem;
}

#password-change-form input {
    height: 2rem;
    border-radius: 0.25rem;
    border-color: #666666;
    border-width: 1px;
    margin: 0.25rem;
}

input:focus {
    outline-color: rgb(32, 105, 222);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
}

#submit {
    height: 3rem;
    background-color: rgb(55, 117, 217);
    color: white;
    border-radius: 0.5rem;
    border-style: none;
    width: 100%;
}

#submit:hover {
    background-color: rgb(37, 108, 222);
}

#submit:focus {
    outline-style: none;
}

#password-change-form label {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 550;
    color: #666666;
}

h3 {
    font-weight: 500;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #929292;
    margin: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.content-container > label {
    font-size: 0.9rem;
}

#password-change-form span {
    color: #666666;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

#password-change-form ul {
    margin: 0 0 0.25rem;
    padding: 0;
    list-style-type: none;
    color: red;
    font-size: 0.9rem;
    font-family: sans-serif;
}

@media (max-width:767px) {
    .content-container {
        width: calc(100% - 2rem);
    }

    #password-change-form {
        width: 100%;
        max-width: 20rem;
    }
}