{% autoescape on %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        button {
            margin-top: 1rem;
            background-color: orange;
            color: white;
            font-size: 1.25rem;
            padding: 1rem;
            border-radius: 0.25rem;
            border-style: none;
        }
        
        body {
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <h1>Verify your Email</h1>
    <h4>Hi {{ user.email }},</h4>
    To complete your Stack Overflow registration, please select the button below.<br>
    <a href="http://{{ domain }}{% url 'user:activate' uidb64=uid token=token %}">
        <button>
            Verify email address
        </button>
    </a>
</body>
{% endautoescape %}