{% extends 'user/base-no-login.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'user/styles/password-change-styles.css' %}">
{% endblock stylesheet %}

{% block title %}
    Account Recovery - Stack Overflow
{% endblock title %}

{% block content-container %}
<h3>Account Recovery</h3>

<label>Recover account for {{user.email}}</label>

<form id="password-change-form" method="post">
    {% csrf_token %}
    <div class='input-fields'>
        <Label for="{{form.new_password1.id_for_label}}">New Password</Label>
        {{form.new_password1}}
        {{ form.new_password1.errors }}
    </div>
    <div class='input-fields'>
        <Label for="{{form.new_password2.id_for_label}}">New Password (again)</Label>
        {{form.new_password2}}
        {{ form.new_password2.errors }}
        <span class="help-text">Passwords must contain at least eight characters, including at least 1 letter and 1 number.</span>
    </div>
    {{ form.non_field_errors }}
    <input id="submit" type="submit" formnovalidate value="Recover Account">
</form>
<label><i>By clicking “Recover Account”, you agree to our terms of service and acknowledge you have read our privacy policy.</i></label>
{% endblock content-container %}