{% extends base_html %}

{% load static %}
{% load humanize %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'user/styles/users-list-view-styles.css' %}">
{% endblock stylesheet %}

{% block title %}
Users - Stackoverflow
{% endblock title %}

{% block content-container %}
<div class="title-container">
    <h1>Users</h1>
</div>
<div class="users-container">
    {% for user in users %}
    {% if user.is_active %}
    <div class="user">
        <img src="{{user.profile_pic.url}}" class="user-profile-pic" height="48" width="48">
        <div class="user-info">
            <a href="{% url 'user:profile' user.id %}" class="user-name">
                {% if user.name %}
                {{user.name}}
                {% else %}
                user{{user.id}}
                {% endif %}
            </a>
            <label>{{user.reputation}}</label>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content-container %}