.content-container {
    padding: 1.5rem;
    font-family: sans-serif;
}

.title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ask-btn {
    padding: 0.75rem;
    background-color: rgb(55, 117, 217);
    color: white;
    border-radius: 0.5rem;
    border-style: none;
    text-decoration: none;
    text-align: center;
}

.questions-container-header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
}

.question-info {
    display: flex;
}

.question-details {
    width: 10rem;
    margin-right: 1rem;
}

.question-title {
    font-size: 1.5rem;
}

.question-author-details {
    display: flex;
    justify-content: space-around;
}